<body>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
    google.charts.load('current', {packages: ['corechart']});
    google.charts.setOnLoadCallback(drawChart);

    function drawChart()
    {
      var data = new google.visualization.DataTable();
        data.addColumn('string', 'Element');
        data.addColumn('number', 'Percentage');
        data.addRows([
          ['Nitrogen', 0.78],
          ['Oxygen', 0.21],
          ['Other', 0.01]
        ]);

        // Instantiate and draw the chart.
        var chart = new google.visualization.PieChart(document.getElementById('chartView'));
        chart.draw(data, null);
    }

  </script>

  <style>
  body
  {
      background-color:white;
      margin: 0px;
      overflow: hidden;
      font-family:arial;
      /*color:#fff;*/
  }

  #chartView
  {
    position:absolute;
    left:30%;
    display:block;
    width:50%;
    opacity:0.5;
  }


  </style>

  <div id="main">
    <div id="chartView"/>
  </div>

</body>
